@{
    ViewBag.Title = "Blogs by User ";
}
@using DirigoEdge.Utils
@model DirigoEdge.Models.ViewModels.BlogsByUserViewModel


<div class="row module blogByUserListing">
    <div class="eight columns">
        <div class="stripe darkBlue"></div>
        <h2 class="title sansserif light">Blogs by : @Model.BlogUsername</h2>

        @{
            foreach (var blog in Model.BlogRoll)
            {
                <article>
                    <h3><a href="/blog/@ContentUtils.GetFormattedUrl(blog.Title)">@blog.Title</a></h3>
                    <h6>Written by <a href="@blog.BlogAuthorUrl">@blog.Author</a> on @blog.Date.ToLongDateString()</h6>

                    <div class="row">
                        <div class="userBlogContent twelve columns">
                            @Html.Raw(blog.HtmlContent)
                        </div>
                    </div>
                </article>
            }
        }
    </div>

    <div class="four columns categoryBlogListModule">
        @*@Html.Partial("Partials/Blog/BlogCategoryListingPartial")*@
    </div>

</div>