@{
	ViewBag.Title = "Edit Module";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DirigoEdge.Areas.Admin.Models.ViewModels.EditModuleViewModel
@using DirigoEdge.Utils

<div class="editContent" data-id="@Model.TheModule.ContentModuleId">
    <div class="row">
        <div class="twelve columns">
            <h2>Edit Module</h2>
        </div>
    </div>

    <div class="row" id="ContentRowContainer">
        <div id="ContentRow" class="nine columns">

            <dl class="tabs">
                <dd class="active"><a href="#Html">HTML</a></dd>
                <dd><a href="#CSS">CSS</a></dd>
                <dd><a href="#JS">Javascript</a></dd>
            </dl>
            
            <a id="InsertModuleImage" href="#" data-reveal-id="InsertImageModal">Insert Image</a>
            
            @*Seems superfluos.. keeping in code comment for now in case someone wants to use this*@
            @*<div id="EditorThemeContainer" class="hide-for-medium-down">
                <label>Theme: </label>
                <select size="1" id="EditorTheme">
                    <optgroup label="Bright">
                        <option value="ace/theme/chrome">Chrome</option>
                        <option value="ace/theme/clouds">Clouds</option>
                        <option value="ace/theme/crimson_editor">Crimson Editor</option>
                        <option value="ace/theme/dawn">Dawn</option>
                        <option value="ace/theme/dreamweaver">Dreamweaver</option>
                        <option value="ace/theme/eclipse">Eclipse</option>
                        <option value="ace/theme/github">GitHub</option>
                        <option value="ace/theme/solarized_light">Solarized Light</option>
                        <option selected="selected" value="ace/theme/textmate">TextMate</option>
                        <option value="ace/theme/tomorrow">Tomorrow</option>
                        <option class="hide" value="ace/theme/xcode">XCode</option>
                    </optgroup>
                    <optgroup label="Dark">
                        <option class="hide" value="ace/theme/ambiance">Ambiance</option>
                        <option class="hide" value="ace/theme/chaos">Chaos</option>
                        <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                        <option value="ace/theme/cobalt">Cobalt</option>
                        <option value="ace/theme/idle_fingers">idleFingers</option>
                        <option class="hide" value="ace/theme/kr_theme">krTheme</option>
                        <option value="ace/theme/merbivore">Merbivore</option>
                        <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                        <option value="ace/theme/mono_industrial">Mono Industrial</option>
                        <option value="ace/theme/monokai">Monokai</option>
                        <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                        <option value="ace/theme/solarized_dark">Solarized Dark</option>
                        <option value="ace/theme/twilight">Twilight</option>
                        <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                        <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                        <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                        <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                        <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
                    </optgroup>
                </select>
            </div>*@

            <ul class="tabs-content">
                @*HTML*@
                <li class="active relative editTabArea" id="HtmlTab">
                    <div class="aceEditArea" id="HTMLContent">@Model.TheModule.HTMLContent</div>
                </li>

                @*CSS*@
                <li class="relative editTabArea" id="CSSTab">
                    <div class="aceEditArea" id="CSSContent">@Model.TheModule.CSSContent</div>

                </li>

                @*Javascript*@
                <li class="relative editTabArea" id="JSTab">
                    <div class="aceEditArea" id="JSContent">@Model.TheModule.JSContent</div>
                </li>
            </ul>

        </div>

        <div class="three columns">
            <h3>Settings</h3>
            <label>Module Name</label>
            <input id="ContentName" type="text" value="@Model.TheModule.ModuleName"/>
        </div>

    </div>

    <div class="row">
        <div class="twelve columns">
            <a id="SaveContentButton" class="button" data-url="ModifyModule">Save</a>
            <div id="SaveSpinner" class="standaloneSpinner"></div>
        </div>
    </div>
    
    <div class="row hide-for-touch">
        <div class="twelve columns tipContainer">
            Tip: You can press <kbd>Ctrl - S </kbd> to save within the editor.
        </div>
    </div>

</div>

@section Modals {
    <div id="InsertImageModal" class="reveal-modal">
        <h2>Insert Image.</h2>

        <form action="/admin/fileUpload" class="dropzone" id="my-awesome-dropzone"></form>

        <a class="close-reveal-modal">&#215;</a>
    </div>
}

@section scripts {
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/jquery/plugins/dropzone/dropzone.js"></script>

    <script>
        Dropzone.options.myAwesomeDropzone = {
            url: "/admin/fileUpload/",
            init: function () {
                this.on("success", function (file, data) {

                    var $els = $(data.html);
                    
                    content.htmlEditor.insert("<img src='" + data.path + "' alt='' />");

                    // Close the dialog box
                    setTimeout(function () {
                        $("#InsertImageModal").trigger('reveal:close');
                    }, 400);
                });
            }
        };

    </script>

    <link href="/Scripts/jquery/plugins/dropzone/css/dropzone.css" type="text/css" rel="stylesheet">
    <link href="/Scripts/jquery/plugins/dropzone/css/basic.css" type="text/css" rel="stylesheet">
}
