@{
	ViewBag.Title = "Edit Blog";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel
@using DirigoEdge.Utils

<div class="editBlog module" data-id="@Model.ThisBlog.BlogId">
    <div class="row">

        <div id="Sortable1" class="eight columns connectedSortable">

            <div class="row">
                <div class="twelve columns">
                    <h3>Edit Post</h3>
                    @{
                        string permaLinkModded = !String.IsNullOrEmpty(@Model.ThisBlog.PermaLink) ? "True" : "False";
                    }
                    <div class="blogTitle">
                        <input id="BlogTitle" class="required" type="text" value="@Model.ThisBlog.Title" autocomplete=off />
                        <span class="permHint">Permalink: </span>
                        <span>http://edge1.dirigodev.com/blog/</span><span id="PermaLinkEnd" data-modified="@permaLinkModded">@ContentUtils.GetFormattedUrl(Model.ThisBlog.PermaLink)</span><input id="PermaLinkEditPane" type="text" class="hide" /><span>/</span><a id="EditPermaLink" href="javascript:void(0);">edit</a>
                    </div>
                </div>
            </div>

            <div class="row editArea">
                <div class="twelve columns">
                    <textarea id="CKEDITBLOG" cols="40" rows="20" autocomplete="off">@Model.ThisBlog.HtmlContent</textarea>
                    <a id="SaveBlog" class="button right">Save</a>
                    <div id="SaveSpinner" class="standaloneSpinner"></div>
                </div>
            </div>
            
            @{
                foreach (var module in Model.AdminModulesColumn1)
                {
                    string collapsed = module.IsCollapsed ? "collapsed" : "";
                    <div id="@module.ModuleName" class="panel sortable @collapsed">
                        @Html.Partial("Partials/BlogAdminModules/" + module.ModuleName)
                    </div>
                }
            }            
        </div>

        <div id="Sortable2" class="four columns connectedSortable">                                    
            @{
                foreach (var module in Model.AdminModulesColumn2)
                {
                    string collapsed = module.IsCollapsed ? "collapsed" : "";
                    <div id="@module.ModuleName" class="panel sortable @collapsed">
                        @Html.Partial("Partials/BlogAdminModules/" + module.ModuleName)
                    </div>
                }
            }
        </div>

    </div>
</div>



@*Set the style for drag and drop behavior*@
<style>
     .ui-state-highlight {
         height: 1.5em; line-height: 1.2em;
         min-height: 50px;
         margin: 20px 0;
     }
</style>

@section Scripts {
    <script src="/scripts/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
		$(document).ready(function () {

			// Thumbnail Upload
			$("#FeaturedImageUpload").kendoUpload({
				async: {
					saveUrl: "/BlogAdmin/UploadBlogImage",
					removeUrl: "/BlogAdmin/Remove",
					autoUpload: true,
				},
				multiple:false,
				success: function (e) {
					var noty_id = noty({ text: 'File uploaded successfully.', type: 'success', timeout: 3000 });
					var filePath = e.files[0].name;
					$("#FeaturedImage").attr("value", "/Content/Uploaded/BlogFeaturedImages/" + filePath);
				},
				localization : {
					select : "Upload..."
				}
			});			
		}); 
    </script>
}


@section Modals {

    <div id="FeaturedImageModal" class="reveal-modal">
        <h2>Featured Image</h2>
        <p class="lead">Set the blog's Featured Image</p>

        <p class="">This will show as the image headline on blog overview pages.
            <br />
            Images should be 760px × 250px.</p>

        <input id="FeaturedImage" type="text" placeholder="Image Location" value="@Model.ThisBlog.ImageUrl"/>

        <input id="FeaturedImageUpload" name="files" type="file" placeholder="Image Location" value="@Model.ThisBlog.ImageUrl"/>

        <p class="alt">
            Don't have an image to upload? <a id="ChooseStockLink" href="#" data-reveal-id="StockImagesModal">Choose From Stock Photography...</a>
        </p>

        <a id="ConfirmFeatImage" class="right button" onclick=" $('#FeaturedImageModal').trigger('reveal:close');">Ok</a>
        <p class="right saveTip" style="">(Changes will be saved when you save your blog)</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="StockImagesModal" class="reveal-modal medium">
        <h2>Stock Images</h2>
        <p class="lead">Choose from stock photography</p>

        <div id="StockImageHolder">
            <p>This content is lazy loaded for maximum awesomenesss.</p>
        </div>

        <a href="#" data-reveal-id="FeaturedImageModal"><- Back</a>

        <a class="close-reveal-modal">&#215;</a>
    </div>
}
