@{
	ViewBag.Title = "Edit Blog";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel
@using DirigoEdge.Utils

<div class="editBlog module" data-id="@Model.ThisBlog.BlogId">
    <div class="row">

        <div class="eight columns">

            <div class="row">
                <div class="twelve columns">
                    <h3>Edit Post</h3>
                    @{
						string permaLinkModded = !String.IsNullOrEmpty(@Model.ThisBlog.PermaLink) ? "True" : "False";
                    }
                    <div class="blogTitle">
                        <input id="BlogTitle" class="required" type="text" value="@Model.ThisBlog.Title" autocomplete=off />
                        <span class="permHint">Permalink: </span>
                        <span>http://edge1.dirigodev.com/blog/</span><span id="PermaLinkEnd" data-modified="@permaLinkModded">@ContentUtils.GetFormattedUrl(Model.ThisBlog.PermaLink)</span><input id="PermaLinkEditPane" type="text" class="hide" /><span>/</span><a id="EditPermaLink" href="javascript:void(0);">edit</a>
                    </div>
                </div>
            </div>

            <div class="row editArea">
                <div class="twelve columns">
                    <textarea id="CKEDITBLOG" cols="40" rows="20" autocomplete="off">@Model.ThisBlog.HtmlContent</textarea>
                    <a id="SaveBlog" class="button right">Save</a>
                    <div id="SaveSpinner" class="standaloneSpinner"></div>
                </div>
            </div>

            <div class="row shortDescArea">
                <div class="twelve columns">
                    <h4>Featured Text</h4>
                    <textarea id="ShortDescription" rows="6">@Model.ThisBlog.ShortDesc</textarea>
                </div>
            </div>

        </div>

        <div class="four columns">

            <div class="panel publish">
                <h4>Visibility</h4>

                <div class="status">
                    <a id="PreviewBlogButton" class="button small secondary right mobileMarginBottom">Preview</a>
                    @{
						string Checked = (bool)Model.ThisBlog.IsActive ? "checked = checked" : "";
						string featChecked = (bool)Model.ThisBlog.IsFeatured ? "checked = checked" : "";
                    }
                    <form class="custom">
                        <label for="IsPublicCheck">
                            <input type="checkbox" @Checked style="display: none;" id="IsPublicCheck"><span id="SpanCheckPublic" class="custom checkbox"></span> Is Public</label>
                        <label for="IsFeaturedCheck">
                            <input type="checkbox" @featChecked style="display: none;" id="IsFeaturedCheck"><span id="SpanIsFeaturedCheck" class="custom checkbox"></span> Is Featured</label>
                    </form>
                </div>
                @{
					string formattedDate = Convert.ToDateTime(Model.ThisBlog.Date).ToString("MM/dd/yyyy");
		 
                }
                <div class="publishContainer">
                    <b>Publish Date : </b>
                    <input id="PublishDate" value="@formattedDate" type="text" autocomplete=off>
                </div>
            </div>

            <div class="panel">
                <h4>Author</h4>
                <select id="Author" autocomplete="off">
                    @{
						foreach (var user in Model.BlogUsers)
						{
							string selected = user.UserId == Model.ThisBlog.AuthorId ? "selected=\"selected\"" : "";
                        <option data-id="@user.UserId" @selected>@user.DisplayName</option>		
						}
                    }
                </select>
            </div>

            <div class="panel categories">
                <h4>Category</h4>

                <dl class="tabs contained">
                    <dd class="active"><a href="#simpleContained1">All</a></dd>
                    <dd><a href="#simpleContained2">Most Used</a></dd>
                </dl>

                <ul class="tabs-content contained">
                    <li class="active catListing" id="simpleContained1Tab">
                        <form class="custom">
                            @{
						    int count = 0;
						    foreach (var cat in Model.Categories)
						    {
							    count++;
							    string inputId = "catCheckbox" + count;
							    bool isChecked = Model.ThisBlog.MainCategory == cat.CategoryName;
							    string catChecked = isChecked ? "checked" : "";
							    string catCheckInput = isChecked ? "checked=checked" : "";
								
                                <label for="@inputId">
                                    <input name="catGroup" type="radio" id="@inputId" @catCheckInput style="display: none;" autocomplete=off><span class="custom radio @catChecked"></span> @cat.CategoryName</label>
						    }
                            }
                        </form>
                    </li>
                    <li id="simpleContained2Tab">Coming Soon!</li>
                </ul>

            </div>

            <div class="panel tags">
                <h4>Tags</h4>
                <input id="BlogTags" type="text" placeholder="tags..." value="@Model.ThisBlog.Tags"/>
                <em>Separate tags with commas</em>
            </div>

            <div class="panel setMetaInformation">
                <h4>SEO / Meta</h4>
                <a data-reveal-id="SEOMetaModal" href="javascript:void(0);">Set Meta Information</a>
            </div>

            <div class="panel featuredImage">
                <h4>Featured Image</h4>
                <a id="SetFeaturedImage" data-reveal-id="FeaturedImageModal" href="javascript:void(0);">Set Featured Image</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/scripts/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
		$(document).ready(function () {

			// Thumbnail Upload
			$("#FeaturedImageUpload").kendoUpload({
				async: {
					saveUrl: "/BlogAdmin/UploadBlogImage",
					removeUrl: "/BlogAdmin/Remove",
					autoUpload: true,
				},
				multiple:false,
				success: function (e) {
					var noty_id = noty({ text: 'File uploaded successfully.', type: 'success', timeout: 3000 });
					var filePath = e.files[0].name;
					$("#FeaturedImage").attr("value", "/Content/Uploaded/BlogFeaturedImages/" + filePath);
				},
				localization : {
					select : "Upload..."
				}
			});			
		}); 
    </script>
}


@section Modals {

    <div id="FeaturedImageModal" class="reveal-modal">
        <h2>Featured Image</h2>
        <p class="lead">Set the blog's Featured Image</p>

        <p class="">This will show as the image headline on blog overview pages.
            <br />
            Images should be 760px × 250px.</p>

        <input id="FeaturedImage" type="text" placeholder="Image Location" value="@Model.ThisBlog.ImageUrl"/>

        <input id="FeaturedImageUpload" name="files" type="file" placeholder="Image Location" value="@Model.ThisBlog.ImageUrl"/>

        <p class="alt">
            Don't have an image to upload? <a id="ChooseStockLink" href="#" data-reveal-id="StockImagesModal">Choose From Stock Photography...</a>
        </p>

        <a id="ConfirmFeatImage" class="right button" onclick=" $('#FeaturedImageModal').trigger('reveal:close');">Ok</a>
        <p class="right saveTip" style="">(Changes will be saved when you save your blog)</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>


    <div id="ShortDescModal" class="reveal-modal">
        <h2>Short Description</h2>
        <p class="lead">Set the blog's short Descriptions</p>

        <p class="">This will show as the teaser on blog overview pages.
            <br />
            Leave blank to use default settings.</p>

        <textarea id="ShortDescription2">@Model.ThisBlog.ShortDesc</textarea>

        <a id="ConfirmShortDesc" class="right button" onclick=" $('#ShortDescModal').trigger('reveal:close');">Ok</a>
        <p class="right saveTip" style="">(Changes will be saved when you save your blog)</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="SEOMetaModal" class="reveal-modal medium">
        <h2>SEO / Meta</h2>
        <p class="lead">Set your blog's meta information</p>

        <label class="has-tip tip-top" title="Commonly used by search engines to display preview snippets for a given page.">Meta Description</label>
        <input id="MetaDescription" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.MetaDescription">

        <label class="has-tip tip-top" title="Open Graph : The title of your object as it should appear within the graph, e.g., 'The Rock'.">OG Title</label>
        <input id="OGTitle" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGTitle">

        <label class="has-tip tip-top" title="Open Graph : An image URL which should represent your object within the graph.">OGImage</label>
        <input id="OGImage" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGImage">

        <label class="has-tip tip-top" title="Open Graph : The type of your object, e.g., 'video.movie'. Depending on the type you specify, other properties may also be required.">OGType</label>
        <input id="OGType" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGType">

        <label class="has-tip tip-top" title="Open Graph : The canonical URL of your object that will be used as its permanent ID in the graph, e.g., 'http://www.imdb.com/title/tt0117500/'">OGUrl</label>
        <input id="OGUrl" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.OGUrl">

        <label class="has-tip tip-top" title="The one authoritatively correct URL for a resource.">Canonical</label>
        <input id="Canonical" type="text" placeholder="" autocomplete=off value="@Model.ThisBlog.Canonical">

        <a class="right button" onclick=" $('#SEOMetaModal').trigger('reveal:close');">Close</a>
        <p class="right saveTip" style="">(Changes will be saved when you save your blog)</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="StockImagesModal" class="reveal-modal medium">
        <h2>Stock Images</h2>
        <p class="lead">Choose from stock photography</p>

        <div id="StockImageHolder">
            <p>This content is lazy loaded for maximum awesomenesss.</p>
        </div>

        <a href="#" data-reveal-id="FeaturedImageModal"><- Back</a>

        <a class="close-reveal-modal">&#215;</a>
    </div>
}
