@{
	ViewBag.Title = "Edit Module";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DirigoEdge.Areas.Admin.Models.ViewModels.EditModuleViewModel
@using DirigoEdge.Utils

<div class="editContent" data-id="@Model.TheModule.ContentModuleId">
    <div class="row">
        <div class="twelve columns">
            <h2>Edit Module</h2>
        </div>
    </div>

    <div class="row" id="ContentRowContainer">
        <div id="ContentRow" class="nine columns">

            <dl class="tabs">
                <dd class="active"><a href="#Html">HTML</a></dd>
                <dd><a href="#CSS">CSS</a></dd>
                <dd><a href="#JS">Javascript</a></dd>
            </dl>
            
            <a id="InsertContentImage" href="#" data-reveal-id="InsertImageModal">Insert Image</a>
            
            <ul class="tabs-content">
                @*HTML*@
                <li class="active relative editTabArea" id="HtmlTab">
                    <div class="aceEditArea" id="HTMLContent">@Model.TheModule.HTMLContent</div>
                </li>

                @*CSS*@
                <li class="relative editTabArea" id="CSSTab">
                    <div class="aceEditArea" id="CSSContent">@Model.TheModule.CSSContent</div>

                </li>

                @*Javascript*@
                <li class="relative editTabArea" id="JSTab">
                    <div class="aceEditArea" id="JSContent">@Model.TheModule.JSContent</div>
                </li>
            </ul>

        </div>

        <div class="three columns">
            <h3>Settings</h3>
            <label>Module Name</label>
            <input id="ContentName" type="text" value="@Model.TheModule.ModuleName"/>
        </div>

    </div>

    <div class="row">
        <div class="twelve columns">
            <a id="SaveContentButton" class="button" data-url="ModifyModule">Save</a>
            <div id="SaveSpinner" class="standaloneSpinner"></div>
        </div>
    </div>
    
    <div class="row hide-for-touch">
        <div class="twelve columns tipContainer">
            Tip: You can press <kbd>Ctrl - S </kbd> to save within the editor.
        </div>
    </div>

</div>

@section Modals {
    @Html.Partial("Partials/InsertImageModalPartial")
}

@section scripts {
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/jquery/plugins/dropzone/dropzone.js"></script>

    <link href="/Scripts/jquery/plugins/dropzone/css/dropzone.css" type="text/css" rel="stylesheet">
    <link href="/Scripts/jquery/plugins/dropzone/css/basic.css" type="text/css" rel="stylesheet">
}
